* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-deep-navy: #1C2344;
    --color-slate-blue: #2F4563;
    --color-ocean-blue: #1374A1;
    --color-teal: #408074;
    --color-mint: #5BBDA4;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(160deg, var(--color-deep-navy), var(--color-slate-blue));
    color: var(--color-mint);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    min-height: 100vh;
}
